# System
.DS_Store

# Integrated Development Environment
.idea
.vscode

# Package Manager
## cargo
target
## npm
node_modules

# Test Data
block-hashes.data
block-hashes.data.tar.zst
block-hashes.rawdata
checklist.data
empty-nodes.data
mmr.data
mmr.data.tar.zst
